@model WebApplication1.Models.ProjectSearchViewModel
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_mytemplate.cshtml";
}

<div class="layout-2cols">
    <div class="content grid_9">
        <div class="search-result-page">
            <div class="top-lbl-val">
                <h3 class="common-title">Search / <span class="fc-orange">@Model.Query</span></h3>
                <div class="count-result">
                    <span class="fw-b fc-black">@Model.DisplayProjects.Count()</span> projects found for this search
                </div>
            </div>
            <div class="list-project-in-category">
                <div class="lbl-type clearfix">
                    <h4 class="rs title-lbl"><a href="#" class="be-fc-orange">@Request.Params["filter"]</a></h4>
                    @*<a href="#" class="view-all be-fc-orange">View all</a>*@
                </div>
                <div class="list-project">
                    @foreach (var item in Model.DisplayProjects)
                    {
                        @Html.Partial("_PopularProjectViewPartial", item)
                    }
                    <div class="clear"></div>
                </div>
            </div><!--end: .list-project-in-category -->
 
        </div><!--end: .search-result-page -->
    </div><!--end: .content -->

</div>
