@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<hgroup>
    <h1 style="padding-left:3em">@ViewBag.Title</h1>
</hgroup>
<div>
    <p style="padding-left:6em">
        Please check your email to reset your password.
    </p>
</div>
	
