@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_myTemplate.cshtml";
}

<hgroup>
    <h1 style="padding-left:3em" >@ViewBag.Title</h1>
</hgroup>
<div >
    <p style="padding-left:6em">
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
