@model WebApplication1.Models.ProjectUpdateViewModel

<div class="media other-post-item">
    <a href="#" class="thumb-left">
        <img src="@Url.Content("~/Content/myTemplate/")images/ex/th-90x90-1.jpg" alt="$TITLE">
    </a>
    <div class="media-body">
        <h4 class="rs title-other-post">
            <a href="#" class="be-fc-orange fw-b">@Model.FullName</a>
        </h4>
        <p class="rs fc-gray time-post pb10">posted on @Model.DateInserted</p>
        <p class="rs description">@Model.Text</p>
    </div>
</div><!--end: .other-post-item -->